<html>
	<head>
		<meta charset="utf-8">
		<title>SpaceHolidays</title>
		<link rel="stylesheet" href="/static/styles/styleforpages.css">
	</head>

	<body>
		<div class="frame">

		    {% if page['page_title'] %}
		    <div class="h">Графы</div>
		    {% endif %}

			<div class="main-text">
				{{page['page_text'] | safe}}
			</div>
		  
			{% if page['picture'] %}
			<div class="illust"><img src="{{page['picture']}}"></div>
			{% endif %}

			{% if page['after-answer-button_page'] and not answered %}
			<form action="http://127.0.0.1:5000/pages/task1/giving_answer" method="post" class="answer_box">
				<div class="input_box"> <label for="answer-field">Ответ:  <input type="text" name="answer" id="answer-field"></label> </div>
				<div class="submit_box"><input type="submit" value="Проверить"></div>
			</form>
			{% endif %}

			{% block result %}{% endblock %}
			  
			<ul class="keypad">
				{% for button in page['buttons'] %}
				<li><a href="/pages/{{button.button_page}}">{{button['button_text']}}</a></li>
				{% endfor %}
			</ul>
		</div>
	
		<div class="navig">
			<ul class="menu">
				<li><a href="/"><img src="/static/pictures/home.png"></a></li>
				<li><a href="table.html"><img src="/static/pictures/table.png"></a></li>
			</ul>
		
			<table class="position">
			<tr>
				<td class="thing">Положение:</td>
				<td class="meaning">{{page['place']}}</td>
			</tr>
			<tr>
				<td class="thing">Кол-во выполненных заданий:</td>
				<td class="meaning">{{tasks_amount}}</td>
			</tr>
			</table>
		</div>
	</body>
</html>