<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Signing up</title>
</head>
<body>
    <form action="/signup" method="post">
		<label for="login">Логин  <input type="text" name="log" id="login"></label>
        <label for="password1">Пароль  <input type="password" name="pas1" id="password1"></label>
        <label for="password2">Еще раз пароль  <input type="password" name="pas2" id="password2"></label>
		<div class="submit_box"><input type="submit" value="Зарегистрироваться"></div>
	</form>
</body>
</html>